/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00b894;
  --text-color: #2d3436;
  --bg-color: #ffffff;
}

html, body {
  height: 100%;
  background-color: #779c95;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

/* Controla o layout principal da aplicação */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}
